body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.kashish{
    color: orange;
}
.flexiable-container{
    display: flex;
    margin-bottom: 100px;
}
.container{
    width: 50%;
    padding-left: 5%;
}
.container img{
    width: 80%;
}
.hire-btn{
    text-decoration: none;
    background-image: linear-gradient(orangered, tomato);
    padding: 10px 20px;
    color: azure;
    font-weight: 700;
    border-radius: 10px;
}
.top-banner{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-title{
    text-align: center;
}
.experience-container{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0 20px;
    box-shadow: 10px 10px 30px gray;
}
#experience-full{
    border-left: 7px solid tomato;
    border-radius: 0 10px 0 10px;
}
#experience-baby{
    border-left: 7px solid blueviolet;
    border-radius: 0 10px 0 10px;
}
footer p{
    text-align: center;
}